img {
    width: 400px;
    height: auto;
}

html {
    background-color: rgba(164, 164, 169, 0.2);
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    color: #2E4A62;
    font-size: 100px;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    color: #2E4A62;
    text-align: center;
}

h6 {
    text-align: center;
}

card-style {
    width: 500 px;
}

header-margin {
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    card-style,
    h1,
    div,
    body {
        width: auto;
        font-size: 40px;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    html {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    div,
    img {
        width: 300px;
        height: auto;
        font-size: 15px;
    }
}